#blacklist {
    background-color: black;
    color:azure
}
#inputText {
    background-color:lightgrey;
    color:black;
}
body{
    background-color: #1a1a1a;
    color: #ccc;
font-family: 'Courier New', monospace;
}